<div class="container">
    <div class="row">
        <br>
        <div class="col s12 m4">
            <img src="/assets/bradface.jpg" height="250px" alt="brad" class="z-depth-4">
        </div>
        <div class="col s12 m8">
            <p>I'm a chemist turned coder, looking to leave my mark in the digital world.</p>
            <p>I’m an unabashed nerd, a country boy at heart, and a proud Italian. I love gaming of all kinds (social, board, video), a good book by a fire, or a concert in the park. I’m also a bit of a car nut and I love a good track day. I grew up in rural Ohio, and while I love Chicago, I occasionally need to flee the city and surround myself with nature to remember my roots. Hiking, skiing, camping, and fishing are a few of my favorite outdoor activities. I talk with my hands and I love to be in the kitchen. From making traditional family dishes like fresh pasta and sauce to experimenting with a new recipe, cooking is like science you can eat.</p>
        </div>
    </div>
</div>
