<div class="container" id="bgbrad">
	<img src="/assets/images/bgbrad.JPG" alt="bgbrad" class="responsive-img z-depth-4">
	<h2 class="header orange-text">Hi there! My name is Brad. I am a full stack web developer living in Chicago, IL.</h2>
	<p class="flow-text">I am a former Chemist, making the transition to the world of coding and web development. Currently working as a teaching assistant at Coding Dojo Chicago, I'm building my portfolio and exploring opportunities in the Chicago area. If you are interested in working with me, please take a look at my projects and resume. If you just have a question or comment feel free to <a class="blue-text" href="mailto:bradford.loesch@gmail.com">send me an email</a>. I'd love to talk and get to you know over a coffee.</p>
</div>
