<div class="container">
    <div class="carousel">
        <a href="#one!"><img src="/assets/images/photography/colosseum.jpg" alt="colosseum"></a>
        <a href="#two!"><img src="/assets/images/photography/fog.jpg" alt="fog"></a>
        <a href="#one!"><img src="/assets/images/photography/face.jpg" alt="face"></a>
        <a href="#one!"><img src="/assets/images/photography/colosseum.jpg" alt="colosseum"></a>
        <a href="#one!"><img src="/assets/images/photography/colosseum.jpg" alt="colosseum"></a>
    </div>

</div>
