<div class="container">
    <h4 class="header orange-text"><a href="https://github.com/Bradford-Loesch" target="_blank">My GitHub portfolio</a> contains many of the projects I have worked on.</h4>
    <h5>I've hosted a few of these projects here:</h5>
    <ul>
        <li>Javascript based <a href="#!/1942">shooter game</a>. This is written purely in html and JQuery.</li>
        <li>More projects coming soon!</li>
    </ul>
    <h4 class="header orange-text">Some websites I've created:</h4>
    <ul>
        <li>My Portfolio website was built on the MEAN stack, utilizing Materialize as a front end framework.</li>
        <li><a href="http://52.35.143.57/">Englewood Optometry</a>. I created this website in Ruby on Rails using Bootstrap as a front end framework. This is currently a work in progress.</li>
    </ul>
</div>
